@import url("https://css.gg/home.css");

body {
  background-color: #282828;
  color: white;
  font-family: Montserrat;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  margin: 0 90px;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  height: 90px;
}

textarea:focus,
input:focus {
  outline: none;
}

.fa-house:hover,
.fa-star:hover {
  color: orangered;
  font-size: 35px;
  cursor: pointer;
}

.active-color {
  color: orangered;
}

.fa-house,
.fa-star {
  font-size: 30px;
  margin-right: 55px;
  transition: color 0.25s, font-size 0.25s;
}

.icons-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
}

.categories {
  height: 50px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orangered;
}

.icon-container {
  width: 185px;
  border: none;
}

.icons {
  text-align: center;
}

.icons:hover {
  background-color: orangered;
  cursor: pointer;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 100px;
}

#title-div {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 282.31px;
}

#title-div p {
  font-size: 70px;
  font-family: Rubik Moonrocks;
  color: orangered;
}

.category {
  transition: color 0.3s, font-size 0.3s;
  width: 200px;
  text-align: center;
}

.category:hover {
  color: orangered;
  cursor: pointer;
  font-size: 27px;
}

.search-bar {
  flex: 1;
  min-width: 250px;
  height: 40px;
  padding: 0 25px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  background-color: rgb(65, 65, 65);
  color: white;
}

.movie-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 426.4px);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
  display: none;
}

.home-movie,
.action-movie,
.comedy-movie,
.horror-movie,
.sci-fi-movie,
.romance-movie,
.documentary-movie {
  width: 426.4px;
  height: 300px;
  transition: background-color 0.3s, scale 0.3s;
  text-align: center;
  border-bottom: 1px solid orangered;
}

.home-movie:hover,
.action-movie:hover,
.comedy-movie:hover,
.horror-movie:hover,
.sci-fi-movie:hover,
.romance-movie:hover,
.documentary-movie:hover {
  cursor: pointer;
  background-color: orangered;
  scale: 1.1;
}

.movie-image {
  width: 426.4px;
}

.movie-title {
  font-size: 18px;
  margin-top: 13px;
}

.active {
  display: grid;
}

.inactive {
  display: none;
}

.active-search-bar {
  border: 2px solid orangered;
  box-shadow: 0 0 10px orangered;
}

@media (max-width: 1400px) {
  .movie-container {
    grid-template-columns: repeat(2, 550px);
  }

  .home-movie,
  .action-movie,
  .comedy-movie,
  .horror-movie,
  .sci-fi-movie,
  .romance-movie,
  .documentary-movie {
    width: 550px;
    height: 400px;
    justify-content: space-around;
  }

  .movie-image {
    width: 550px;
  }

  .movie-title {
    font-size: 25px;
    margin-top: 25px;
  }
}

@media (max-width: 1180px) {
  .movie-container {
    grid-template-columns: repeat(1, 550px);
  }

  /* .home-movie,
  .action-movie,
  .comedy-movie,
  .horror-movie,
  .sci-fi-movie,
  .romance-movie,
  .documentary-movie {
    justify-content: center;
  } */
  /* 
  .movie-image {
    width: 800px;
  }

  .movie-title {
    font-size: 30px;
    margin-top: 15px;
  } */
}
