@import url("https://css.gg/home.css");

body {
  background-color: #282828;
  color: white;
  font-family: Montserrat;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  margin: 0 90px;
  overflow-y: scroll;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  height: 90px;
}

textarea:focus,
input:focus {
  outline: none;
}

.modal-favourite .fa-star:hover {
  color: orangered;
}

.fa-house:hover,
.fa-star:hover {
  color: orangered;
  font-size: 35px;
  cursor: pointer;
}

.active-color {
  color: orangered;
}

.fa-house,
.fa-star {
  font-size: 30px;
  margin-right: 55px;
  transition: color 0.25s, font-size 0.25s;
}

.modal-favourite .fa-star {
  position: absolute;
  top: 13px;
  right: 60px;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.icons-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
}

.categories {
  height: 50px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orangered;
}

.category {
  transition: color 0.3s, font-size 0.3s;
  width: 200px;
  text-align: center;
}

.category:hover {
  color: orangered;
  cursor: pointer;
  font-size: 27px;
}

.icon-container {
  width: 185px;
  border: none;
}

.icons {
  text-align: center;
}

.icons:hover {
  background-color: orangered;
  cursor: pointer;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 100px;
}

#title-div {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 282.31px;
}

#title-div p {
  font-size: 70px;
  font-family: Rubik Moonrocks;
  color: orangered;
}

.search-bar {
  flex: 1;
  min-width: 250px;
  height: 40px;
  padding: 0 25px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  background-color: rgb(65, 65, 65);
  color: white;
}

.movie-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 426.4px);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
  display: none;
}

.home-movie,
.action-movie,
.comedy-movie,
.horror-movie,
.sci-fi-movie,
.romance-movie,
.documentary-movie {
  width: 426.4px;
  height: 300px;
  transition: background-color 0.3s, scale 0.3s;
  text-align: center;
  border-bottom: 1px solid orangered;
}

.home-movie:hover,
.action-movie:hover,
.comedy-movie:hover,
.horror-movie:hover,
.sci-fi-movie:hover,
.romance-movie:hover,
.documentary-movie:hover {
  cursor: pointer;
  background-color: orangered;
  scale: 1.1;
}

.movie-image {
  width: 426.4px;
}

.movie-title {
  font-size: 18px;
  margin-top: 13px;
}

.active {
  display: grid;
}

.active-search-bar {
  border: 2px solid orangered;
}

.modal {
  background-color: rgb(61, 61, 61);
  position: fixed;
  display: grid;
  padding: 50px;
  width: 650px;
  height: 570px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 3;
}

.close-modal-button {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 60px;
  transition: color 0.15s;
}

.close-modal-button:hover {
  cursor: pointer;
  color: orangered;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 180px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  margin: 0 -90px;
  z-index: 2;
}

.inactive {
  display: none;
}

.modal-title {
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
}

.modal-bold-info {
  font-weight: bold;
  font-size: 18px;
}

.modal-description {
  padding: 0 80px;
  font-style: italic;
}

.modal-characters {
  padding: 20px 100px;
}

.modal-info,
.modal-director,
.modal-writers {
  padding-bottom: 15px;
}

.favourite {
  color: orangered;
}

@media (max-width: 1400px) {
  .movie-container {
    grid-template-columns: repeat(2, 550px);
  }

  .home-movie,
  .action-movie,
  .comedy-movie,
  .horror-movie,
  .sci-fi-movie,
  .romance-movie,
  .documentary-movie {
    width: 550px;
    height: 400px;
    justify-content: space-around;
  }

  .movie-image {
    width: 550px;
  }

  .movie-title {
    font-size: 25px;
    margin-top: 25px;
  }
}

@media (max-width: 1180px) {
  .movie-container {
    grid-template-columns: repeat(1, 550px);
  }
}

@media (max-width: 430px) {
  header {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #title-div {
    margin-top: -300%;
    height: auto;
  }

  .movie-container {
    margin-top: 120%;
  }
  .icons-div {
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
  }

  .icon-container {
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .fa-solid {
    margin-bottom: 15px;
  }

  .search-bar {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    min-width: 10px;
  }

  .categories i {
    margin-top: 50px;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin-top: -50px;
    border-bottom: none;
  }

  .category {
    height: 10px;
  }

  .category:hover {
    font-size: 23px;
  }
  .home-movie,
  .action-movie,
  .comedy-movie,
  .horror-movie,
  .sci-fi-movie,
  .romance-movie,
  .documentary-movie {
    width: 300px;
    height: 200px;
    justify-content: space-around;
    margin-left: 23%;
  }

  .movie-image {
    width: 300px;
  }

  .movie-title {
    font-size: 20px;
    margin-top: 0;
  }
  .search-div {
    margin-right: 0;
  }

  .modal {
    width: 350px;
    height: 600px;
    padding: 50px 10px;
  }
  .overlay {
    height: calc(300% + 180px);
  }

  .modal-bold-info,
  .modal-characters,
  .modal-description,
  .modal-title,
  .modal-info {
    width: 300px;
    padding-left: 25px;
    margin-bottom: 5px;
  }

  iframe {
    width: 300px;
    height: 203px;
  }

  .modal-trailer {
    margin-left: -70px;
  }
}
