@import url("https://css.gg/home.css");

body {
  background-color: #282828;
  color: white;
  font-family: Montserrat;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  margin: 0 90px;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  height: 90px;
}

textarea:focus,
input:focus {
  outline: none;
}

.fa-house:hover,
.fa-star:hover {
  color: orangered;
  font-size: 35px;
  cursor: pointer;
}

.fa-magnifying-glass {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: color 0.25s, font-size 0.25s;
  background-color: rgb(65, 65, 65);
  height: 40px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-magnifying-glass:hover {
  color: orangered;
  cursor: pointer;
}

.active-color {
  color: orangered;
}

.fa-house,
.fa-star {
  font-size: 30px;
  margin-right: 55px;
  transition: color 0.25s, font-size 0.25s;
}

.icons-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
}

.categories {
  height: 50px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orangered;
}

.icon-container {
  width: 185px;
  border: none;
}

.icons {
  text-align: center;
}

.icons:hover {
  background-color: orangered;
  cursor: pointer;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#title-div {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 282.31px;
}

#title-div p {
  font-size: 70px;
  font-family: Rubik Moonrocks;
  color: orangered;
}

.category {
  transition: color 0.3s, font-size 0.3s;
  width: 200px;
  text-align: center;
}

.category:hover {
  color: orangered;
  cursor: pointer;
  font-size: 27px;
}

.search-div {
  margin-right: 100px;
}

#search-bar {
  flex: 1;
  min-width: 250px;
  height: 40px;
  padding: 0 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-size: 25px;
  background-color: rgb(65, 65, 65);
  color: white;
}

#home-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.home-movie {
  height: 300px;
  transition: background-color 0.3s, scale 0.3s;
  text-align: center;
  border-bottom: 1px solid orangered;
}

.home-movie:hover {
  cursor: pointer;
  background-color: orangered;
  scale: 1.1;
}

.home-image {
  width: 426.4px;
}

.movie-title {
  font-size: 23px;
  margin-top: 13px;
}

.movie-short-info {
  visibility: hidden;
  margin-top: -60px;
}

.movie-short-info-title {
  font-weight: bold;
  font-size: 18px;
}

.movie-short-info-details p,
.movie-short-info-title {
  margin: 5px 10px 0 0;
}

.movie-short-info-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
